
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    background-color: black;
    margin: 0;
    width: 100%;

}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(117, 117, 117, .2);
}

.viewport-header h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;

    span {
        display: block;
        font-size: 10vw;
        letter-spacing: -1.3vw;
    }
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

footer {
    position: relative;
}

div.ourservice {
    height: 100vh;
    align-items: center;
    background: rgba(117, 117, 117, .3);
text-align: center;
color: white;
position: relative;
    

}

div.service {
    text-align: center;
    color: black;
    border: 3px solid#f2fa5aff;
    background: rgba(242, 250, 90, .8);
    border-radius: 5vw;
    height: 50vh;
    width:30vw;
    justify-content: center;
    float: left;
    margin-left: 13vw;
    margin-top: 5vw;
    align-items: center;
    word-wrap: break-word;
    position: relative;

}

div.service p {
    padding-top: 18%;
    font-size: 5vh;
    align-items: center;
    justify-content: center;
  
}

div.ourservice h1 {
    font-size: 5vh;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
  
}

div.marketingservice {
    height: 100vh;
    align-items: center;
    background: rgba(117, 117, 117,.5);
padding-top: 5vh;
text-align: left;
color: white;
position: relative;
display: flex;

}

ul{
    font-size: 5vh;
    color: rgba(242, 250, 90, 1);

}

div.service1 {
    text-align: center;
    color: black;
    border: 3px solid#f2fa5aff;
    background: rgba(242, 250, 90, .8);
    height: 350px;
    width:20vw;
    justify-content: center;
    margin-top: 5vw;
    align-items: center;
    word-wrap: break-word;

}
